body{
  margin: 0;
  padding: 0;
  background-color: rgb(255, 255, 255);
}
.container{
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto;
  grid-template-areas: "navbar navbar navbar"
  "main main main"
  "footer footer footer";
  font-family: sans-serif;
  
  margin: 0;
}

.navbar{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  grid-area: navbar;
  background-color: rgb(92, 107, 121);
  padding: 1rem;
  margin-top: 0;
  width: 100%;
}
a{
  text-decoration: none;
  font-size: 1.3rem;
  color: black;
}
.card {
  padding: 2em;
  border: 1px solid green;
  min-width: 55%;

  margin: .5rem;
}

main{

  grid-area: main;
  margin: 1rem 1rem;
}

footer{
  grid-area: footer;
}
.home{
  display: flex;


  flex-wrap: wrap;
}
p{
  margin: 0;
}
.checkoutCard{
  margin: 1rem;
display: flex;
flex-direction: column;
width: 25%;
justify-content: center;
align-items: center;
}
.form-div{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 1rem;
  text-align: center;
  border: 1px solid black;
}
.form{
  display: grid;
  justify-content: center;
  align-items: center;
  
}
input{
  padding: .5rem;
  border: 1px solid rgb(120, 137, 216);
  border-radius: 10px;
 
}
.btn{

}